#product {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 4rem;
}

#container-nav {
  padding: 2rem;
  display: flex;
  height: 80px;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#container-nav img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.product-wrapper {
  width: 20%;
  display: flex;
}
.product-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}
#nav-links a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#nav-links a:hover {
  background-color: black;
  color: white;
}

#nav-links {
  list-style: none;
}
#nav-links {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.menu {
  width: 30%;
  height: 600px;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
}
.menu img {
  width: 50%;
  height: 200px;
}
